@{
    ViewBag.Title = "Home Page";
}



<!-- Header Carousel -->



<div class="row">
    <div class="greeting">
        <h1>How fly do you want to look today?</h1>
    </div>
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
            <li data-target="#myCarousel" data-slide-to="4"></li>
            <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->

        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image:url(/Content/Images/sliders/slider11.jpg)">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="item" style="background-image:url(/Content/Images/sliders/slider3.jpg)">
                <div class="carousel-caption">
                </div>

            </div>

            <div class="item" style="background-image:url(/Content/Images/sliders/slider12.jpg);background-position:top">
                <div class="carousel-caption">
                </div>
            </div>

            <div class="item" style="background-image:url(/Content/Images/sliders/slider2.jpg);background-position:center">

                <div class="carousel-caption">
                </div>
            </div>

            <div class="item" style="background-image:url(/Content/Images/sliders/slider6.jpg);background-position:center">

                <div class="carousel-caption">
                </div>
            </div>

            <div class="item" style="background-image:url(/Content/Images/sliders/slider14.jpg);background-position:top">

                <div class="carousel-caption">
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- Call to Action Section -->
<div class="row CalltoAction" style="background-image:url('/Content/Images/sliders/symphony.png')">
    <div class="col-md-4 clearCol">
        <a class="btn btn-lg btn-default btn-block" href="/Outfits/">View Saved Outfits</a>
    </div> <div class="col-md-8 actionTextBlock">
        <h4>
            See all your past outfits from every season and occasion.
            Feeling creative? Take time to browse your wardrobe and save new outfits.
        </h4>
    </div>

</div>

<div class="row">
    <a href="~/Tops/">
        <div class="HomeFeature col-md-3" style="background-image:url('/Content/Images/sliders/slider4.jpg')">
            <h1>Tops</h1>
        </div>
    </a>
    <a href="~/Bottoms/">
        <div class="HomeFeature col-md-3" style="background-image:url('/Content/Images/sliders/slider10.jpg')">
            <h1>Bottoms</h1>
        </div>
    </a>
    <a href="/Shoes/">
        <div class="HomeFeature col-md-3" style="background-image:url('/Content/Images/sliders/slider9.jpg')">
            <h1>Shoes</h1>
        </div>
    </a>
    <a href="/Accessories/">
        <div class="HomeFeature col-md-3" style="background-image:url('/Content/Images/sliders/slider8.jpg')">
            <h1>Accessories</h1>
        </div>
    </a>
</div>





